@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Bungee+Shade&family=Jaro:opsz@6..72&family=Karantina:wght@300;400;700&family=Orbitron:wght@400..900&family=Tac+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Zen+Dots&display=swap');

// Estilos para textos

$titleFont: "Karantina", system-ui;
$titleFont1: "Jaro", sans-serif;
$titleFont2:"Bungee Shade", sans-serif;
$titleFont3: "Tac One", sans-serif;
$contentFont: "Ubuntu Sans", sans-serif;

// estilos de colore

$grayColor: rgb(155,148,149);
$cianDark: rgb(158,211,203);
$cianMedium: rgb(204,231,227);
$cianLigth: rgb(231,242,240);

